.visually-hidden {
    position: fixed;
    transform: scale(0);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

body {
    margin: 0 auto;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.header {
    padding-bottom: 125px;
    background-image: url("../image/banner-bg.jpg");
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center top;
    position: relative;
    z-index: 0;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
}

.header-menu {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    width: 179px;
}

.menu-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.menu-item:nth-child(n + 2) {
    margin-left: 35px;
}

.menu-link {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
}

.menu-link:hover {
    text-decoration: underline;
}

.header-title {
    width: 687px;
    margin: 100px auto 0;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.67;
}

.now-trends {
    max-width: 1660px;
    margin: 58px auto;
}

.trends-title {
    padding-left: 2px;
    margin-bottom: 26px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.trends-title::after /*or before*/ {
    content: "";
    width: 66px;
    display: block;
    margin: 9px auto 0;
    border-bottom: 3px solid #b59f5b;
}

.trends-link:hover {
    color: #b59f5b;
}

.trends {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.trend {
    min-height: 287px;
    display: flex;
    align-items: flex-end;
    padding: 16px 22px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.trend:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
}

.trend1 {
    background-image: url("../image/trend1.jpg");
}

.trend2 {
    background-image: url("../image/trend2.jpg");
}

.trend3 {
    background-image: url("../image/trend3.jpg");
}

.trend4 {
    background-image: url("../image/trend4.jpg");
}

.trend-content {
    padding: 33px 33px;
    border: 1px solid #b59f5b;
}

.category-list {
    display: flex;
    padding-left: 2px;
    margin-bottom: 7px;
    list-style: none;
}

.category-item {
    margin-right: 18px;
}

.category-item:last-child {
    margin-right: 0;
}

.category-link {
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
}

.category-link:hover {
    text-decoration: underline;
}

.trend-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
}

.trend-link:hover {
    color: #b59f5b;
}

.container {
    margin: 59px auto 0;
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
}

.articles {
    width: 778px;
}

.article {
    display: flex;
    align-items: start;
}

.article:nth-child(n + 2) {
    margin-top: 54px;
}

.article-img {
    padding-top: 6px;
    width: 381px;
}

.main-content {
    margin-left: 30px;
}

.article-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
}

.article-title:hover {
    color: #b59f5b;
}

.data {
    display: flex;
    margin: 28px 0 45px;
}

.time {
    font-size: 12px;
    font-weight: normal;
    color: #888888;
}

.cite {
    padding-left: 13px;
    font-size: 12px;
    font-style: normal;
}

p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.46;
}

.side-bar {
    max-width: 271px;
}

.section:nth-child(n + 2) {
    margin-top: 57px;
}

.section-title {
    padding-left: 2px;
    margin-bottom: 22px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.section-title::after /*or before*/ {
    content: "";
    width: 66px;
    display: block;
    margin: 10px auto 0;
    border-bottom: 3px solid #b59f5b;
}

.post {
    display: flex;
}

.post:nth-child(n + 2) {
    margin-top: 16px;
}

.post-img {
    padding-top: 6px;
    width: 70px;
    height: 70px;
}

.post-content {
    margin-left: 19px;
}

.post-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.28;
}

.post-title:hover {
    color: #b59f5b;
}

.search {
    margin-top: 60px;
    display: flex;
}

.search-field {
    padding-left: 19px;
    padding-right: 3px;
    width: 222px;
    height: 49px;
    border: none;
    background-color: #f3f7f5;
    box-sizing: border-box;
}

.search-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.search-button {
    width: 49px;
    height: 49px;
    border: none;
    background-image: url("../SVG/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19px;
    background-color: #b59f5b;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #313131;
}

.email-field {
    padding-left: 18px;
    padding-right: 3px;
    width: 100%;
    height: 49px;
    box-sizing: border-box;
    border: none;
    background-color: #f3f7f5;
}

.email-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.email-button {
    margin-top: 18px;
    padding-left: 5px;
    width: 100%;
    height: 49px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #b59f5b;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.email-button:hover {
    background-color: #313131;
}

.tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tag-item {
    margin-right: 5px;
    border: 3px solid #f3f3f1;
}

.tag-item:nth-child(n + 4) {
    margin-top: 8px;
}

.tag-link {
    padding: 0 12px 0;
    font-size: 13px;
    text-transform: uppercase;
}

.tag-item:hover {
    border: 3px solid #b59f5b;
}

.topic-list {
    list-style: none;
}

.topic-item {
    padding-bottom: 11px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 11px;
}

.topic-link {
    font-size: 14px;
}

.topic-link:hover {
    color: #b59f5b;
}

.super {
    padding-left: 5px;
    vertical-align: super;
    font-size: 12px;
    color: #b59f5b;
}

.shop {
    max-width: 1124px;
    margin: 58px auto;
}

.shop-title {
    padding-left: 2px;
    margin-bottom: 26px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.shop-title::after /*or before*/ {
    content: "";
    width: 66px;
    display: block;
    margin: 10px auto 0;
    border-bottom: 3px solid #b59f5b;
}

.shop-link:hover {
    color: #b59f5b;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img {
    width: 100%;
    height: 204px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.product-img1 {
    background-image: url("../image/shop-item-desk1.jpg");
}

.product-img2 {
    background-image: url("../image/shop-item-desk2.jpg");
}

.product-img3 {
    background-image: url("../image/shop-item-desk3.jpg");
}

.product-content {
    width: 100%;
    padding: 26px 0 5px;
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    flex-grow: 1;
    margin: -6px;
}

.product-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 3px;
}

.product-title:hover {
    color: #b59f5b;
}

.product-link {
    color: #b59f5b;
}

.product-link:hover {
    text-decoration: underline;
}

.product-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.product-prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-price-old {
    text-decoration: line-through;
    font-size: 14px;
}

.product-price {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: -4px;
}

.product-button {
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    width: 140px;
    height: 49px;
    color: white;
}

.product-button:hover {
    background-color: #313131;
}

.adress {
    max-width: 1170px;
    display: block;
    margin: 95px auto 71px;
    background-color: #f3f7f5;
}

.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 31px;
}

.footer-icon {
    display: block;
    width: 46px;
    height: 20px;
}

.icon-dribbble {
    background-image: url("../SVG/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: left 15px /*or center*/ center;
}

.icon-pinterest {
    background-image: url("../SVG/002-pinterest.svg");
    background-repeat: no-repeat;
    background-position: left 15px center;
}

.icon-tumblr {
    background-image: url("../SVG/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: left 15px center;
}

.copyright {
    margin-bottom: 47px;
    padding-left: 11px;
    display: block;
    color: #999999;
    text-align: center;
    font-size: 12px;
}

.popup1 {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px 7px;
    background-color: #b59f5b;
    color: white;
}

.popup1:hover {
    background-color: #c53b2d;
}

.popup-state {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.popup-content {
    position: relative;
    background: #fff;
    height: 590px;
    width: 390px;
    font-size: 13px;
}

.popup-close {
    position: absolute;
    right: -2px;
    top: -27px;
    height: 19px;
    width: 19px;
    cursor: pointer;
    background-image: url("../SVG/form-x.svg");;
}

.popup-state:checked + .popup {
    display: flex;
}

.sign-up {
    width: 330px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sign-up-title {
    margin-top: 46px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.sign-up-title::after {
    content: "";
    width: 66px;
    display: block;
    margin: 10px auto 0;
    border-bottom: 3px solid #b59f5b;
}

.form-row {
    margin-top: 25px;
}

.form-row:nth-child(2)  {
    margin-top: 34px;
}

.form-row:nth-child(3)  {
    margin-top: 31px;
}

.form-row:last-child {
    margin-top: 23px;
}

.form-hint {
    display: block;
    font-weight: normal;
    margin-bottom: 7px;
    line-height: 1.27;
    width: 310px;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 18px;
    border: none;
    font-family: inherit;
    font-size: 13px;
    background-image: url("../SVG/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 10px;
    background-color: #f1f1f1;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../SVG/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    vertical-align: middle;
    margin-right: 4px;
}

.radio-group {
    font-weight: normal;
}

.radio-group:nth-of-type(n+2) {
    margin-left: 15px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("../SVG/form-circle.svg");
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.radio:focus ~ .radio-group-text::before {
    outline: none;
}

.textarea {
    width: 100%;
    height: 130px;
    border: none;
    background: #f1f1f1;
    font-size: 13px;
    font-family: OpenSans, Arial, sans-serif;
    padding: 17px 0 0 21px;
    resize: none;
    box-sizing: border-box;
}

.button {
    width: 100%;
    height: 49px;
    border: none;
    color: #fff;
    background-color: #b59f5b;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: #c53b2d;
}

.select:focus, .textarea:focus, .button:focus {
    outline: none;
    border: 1px solid #b59f5b;
}


@media  (min-width: 641px) and (max-width: 1200px) {
    .header {
        padding-bottom: 113px;
        background-image: url("../image/banner-bg-tablet.jpg");
        background-size: cover;
        background-position: center bottom;
    }

    .header-menu {
        padding-top: 43px;
        max-width: 705px;
        margin: 0 auto;
        background-image: url("../SVG/burger-menu5.svg");
        background-repeat: no-repeat;
        background-position: right bottom 5px;
        background-size: 31px;
    }

    .logo {
        margin-left: 2px;
        width: 158px;
    }

    .menu-list {
        display: none;
    }

    .header-title {
        width: 620px;
        margin: 85px auto 0;
        font-size: 40px;
        line-height: 1.375;
    }

    .now-trends {
        max-width: 830px;
        margin: 44px auto;
    }

    .trends-title {
        padding-left: 0;
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }

    .trends {
        grid-template-columns: repeat(2, 1fr);
    }

    .trend {
        min-height: 213px;
        padding: 17px 19px 16px 21px;
        background-position: center bottom;
    }

    .trend-content {
        padding: 24px 31px 31px;
    }

    .category-list {
        display: flex;
        margin: 4px 0 7px;
    }

    .trend-title {
        padding-right: 20px;
        font-size: 17px;
        line-height: 1.294;
    }

    .trend-title1 {
        padding-right: 70px;
    }

    .container {
        padding: 0;
        margin: 46px auto 0;
        max-width: 698px;
    }

    .article {
        display: block;
        width: 394px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ededed;
    }

    .article:nth-child(n + 2) {
        margin-top: 36px;
    }

    .article-img {
        width: 390px;
    }

    .main-content {
        margin-left: 0;
        width: 393px;
    }

    .main-content-last {
        width: 390px;
    }

    .article-title {
        width: 395px;
        font-size: 17px;
        line-height: 1.294;
    }

    .data {
        margin: 30px 0 30px;
    }

    .shop {
        max-width: 652px;
        margin: 39px auto;
    }

    .shop-title {
        margin-bottom: 27px;
        font-size: 18px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 68px;
        row-gap: 60px;
    }

    .product-img {
        height: 227px;
    }

    .product-img1 {
        background-image: url("../image/shop-item-tablet1.jpg");
    }

    .product-img2 {
        background-image: url("../image/shop-item-tablet2.jpg");
    }

    .product-img3 {
        background-image: url("../image/shop-item-tablet3.jpg");
    }

    .product-content {
        padding: 34px 0 5px;
        outline: 3px solid #b59f5b;
        outline-offset: 20px;
        margin: -12px;
    }

    .product-title {
        font-size: 17px;
    }

    .adress {
        max-width: 696px;
        margin: 86px auto 47px;
    }

    .copyright {
        margin-bottom: 40px;
    }

    .popup-content {
        height: 596px;
    }

    .popup-close {
        right: 2px;
        top: -36px;
        height: 25px;
        width: 25px;
    }

    .sign-up-title {
        font-size: 18px;
    }

    .form-row {
        margin-top: 27px;
    }

    .form-row:nth-child(3) {
        margin-top: 29px;
    }

    .form-hint {
        margin-bottom: 9px;
    }

    .radio-group-text::before {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    .radio-group:nth-of-type(n+2) {
        margin-left: 32px;
    }
}

@media (max-width: 640px) {
    .header {
        padding-bottom: 210px;
        background-image: url("../image/banner-mobile.jpg");
        background-size: cover;
        background-position: center bottom;
    }

    .header-menu {
        padding-top: 225px;
        display: block;
        max-width: 360px;
        background-image: url("../SVG/burger-menu5.svg");
        background-repeat: no-repeat;
        background-position: right 12px top 26px;
        background-size: 31px;
    }

    .logo {
        width: 270px;
        display: flex;
        margin: 0 auto;
    }

    .menu-list {
        display: none;
    }

    .header-title {
        padding-left: 4px;
        width: 280px;
        margin: 35px auto 0;
        font-size: 26px;
        line-height: 1.385;
    }

    .now-trends {
        max-width: 360px;
        margin: 38px auto;
    }

    .trends-title {
        padding-left: 0;
        font-size: 16px;
    }

    .trends {
        grid-template-columns: 1fr;
    }

    .trend {
        min-height: 199px;
        padding: 15px 16px 16px;
        background-position: center bottom;
    }

    .trend-content {
        padding: 19px 20px 28px;
    }

    .category-list {
        display: flex;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .trend-title {
        padding-right: 10px;
        font-size: 16px;
        line-height: 1.294;
    }

    .trend-title1 {
        padding-right: 80px;
    }

    .container {
        padding: 0;
        margin-top: 38px;
        max-width: 333px;
        display: block;
    }

    .articles {
        max-width: 333px;
    }

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 14px;
        border-bottom: 1px solid #ededed;
    }

    .article:nth-child(n + 2) {
        margin-top: 31px;
    }

    .article-img {
        max-width: 326px;
    }

    .main-content {
        margin-left: 0;
        padding-right: 11px;
    }

    .article-title {
        font-size: 16px;
        line-height: 1.294;
    }

    .data {
        margin: 17px 0 12px;
    }

    p {
        margin-bottom: 6px;
        font-size: 14px;
    }

    .side-bar {
        max-width: 330px;
        margin: 40px auto 0;
    }

    .section:nth-child(n + 2) {
        margin-top: 40px;
    }

    .section-title {
        font-size: 16px;
    }

    .post:nth-child(n + 2) {
        margin-top: 15px;
    }

    .post-content {
        margin-left: 19px;
    }

    .search-field {
        width: 282px;
    }

    .tag-item {
        margin-right: 5px;
    }

    .tag-link {
        padding: 0 11px;
    }

    .tag-item:nth-child(n + 4) {
        margin-top: 0;
    }

    .tag-item:nth-child(n + 5) {
        margin-top: 6px;
    }

    .shop {
        max-width: 287px;
        margin-top: 39px;
    }

    .shop-title {
        margin-bottom: 27px;
        font-size: 16px;
    }

    .products {
        grid-template-columns: 1fr;
        row-gap: 55px;
    }

    .product {
        display: flex;
        flex-direction: column;
        padding-right: 2px;
    }

    .product-img {
        height: 284px;
    }

    .product-img1 {
        background-image: url("../image/shop-item-mobile1.jpg");
    }

    .product-img2 {
        background-image: url("../image/shop-item-mobile2.jpg");
    }

    .product-img3 {
        background-image: url("../image/shop-item-mobile3.jpg");
    }

    .product-content {
        padding: 30px 0 5px;
        outline-offset: 19px;
        margin: -8px;
    }

    .product-title {
        font-size: 17px;
        margin-bottom: 2px;
    }

    .product-text {
        font-size: 15px;
        margin-bottom: 21px;
    }

    .product-footer {
        padding-right: 4px;
    }

    .adress {
        max-width: 330px;
        margin: 73px auto 47px;;
    }

    .copyright {
        margin-bottom: 50px;
    }

    .popup-content {
        height: 547px;
        width: 330px;
    }

    .popup-close {
        right: 2px;
        top: -33px;
        height: 25px;
        width: 25px;
    }

    .sign-up {
        width: 280px;
    }

    .sign-up-title {
        font-size: 16px;
        margin-top: 25px;
    }

    .form-row {
        margin-top: 26px;
    }

    .form-row:nth-child(2)  {
        margin-top: 33px;
    }

    .form-row:nth-child(3)  {
        margin-top: 29px;
    }

    .form-row:last-child {
        margin-top: 23px;
    }

    .form-hint {
        margin-bottom: 9px;
        width: 270px;
    }

    .radio-group-text::before {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    .radio-group:nth-of-type(n+2) {
        margin-left: 32px;
    }
}

@media  (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .now-trends {
        max-width: 1660px;
        margin: 58px auto;
    }

    .trends {
        grid-template-columns: repeat(4, 1fr);
    }

    .trend {
        padding: 10px 10px;
    }

    .trend-content {
        padding: 10px 7px;
    }

    .category-item {
        margin-right: 10px;
    }

    .category-link {
        font-size: 14px;
    }

    .trend-title {
        font-size: 16px;
        padding-right: 10px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .now-trends {
        max-width: 830px;
        margin: 58px auto;
    }

    .trends {
        grid-template-columns: repeat(2, 1fr);
    }

    .trend {
        padding: 10px 10px;
    }

    .trend-content {
        padding: 10px 7px;
    }

    .category-item {
        margin-right: 14px;
    }

    .category-link {
        font-size: 14px;
    }

    .trend-title {
        padding-right: 0;
    }
}

@media  (min-width: 641px) and (max-width: 750px) and (orientation: landscape) {
    .category-link {
        font-size: 11px;
    }

    .trend-title {
        font-size: 14px;
    }
}

@media  (min-width: 641px) and (max-width: 720px) {
    .article {
        width: 91.34%;
        margin: auto;
    }

    .article-img {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .article-title {
        width: 100%;
    }

    .shop {
        max-width: 615px;
    }

    .products {
        gap: 24px;
        row-gap: 45px;
    }

    .product-content {
        outline-offset: 7px;
    }
}

@media (max-width: 500px) and (orientation: landscape) {
    .category-link {
        font-size: 11px;
    }

    .trend-title {
        font-size: 14px;
    }
}
